<div class="container quiz-container">
    <h2 class="text-center">Create Quiz</h2>
    <form id="quizForm" action = '/create-quiz' method="POST">
        <div class="form-group required">
            <label for="quizName" class="control-label">Quiz Name</label>
            <input type="text" class="form-control" id="quizName" name= "quizName" placeholder="Enter name of the Quiz" >
        </div>
        <div class="form-group required">
            <label for="numQuestions" class="control-label">Number of Questions</label>
            <input type="number" class="form-control" id="numQuestions" name="numQuestions" placeholder="Enter number of questions" required min="1">
        </div>
        <button type="button" class="btn btn-primary btn-block" onclick="generateQuestions()">Generate Questions</button>
        <div id="questionsContainer" class="mt-4"></div>
        <button type="submit" class="btn btn-success btn-block mt-4">Create Quiz</button>
    </form>
</div>


