<header class="jumbotron text-center bg-info text-white">
    <div class="container">
        <h1 class="display-4">Welcome to QuizApp</h1>
        <p class="lead">Test your knowledge with our fun and challenging quizzes!</p>
        <a href="/login" class="btn btn-light btn-lg">Get Started</a>
    </div>
</header>

<div class="container my-5">
    <h2 class="text-center mb-4">Featured Quizzes</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="/images/quiz.jpeg" class="card-img-top" alt="Quiz 1">
                <div class="card-body">
                    <h5 class="card-title">Quiz Title 1</h5>
                    <p class="card-text">A brief description of the quiz goes here.</p>
                    <a href="/login" class="btn btn-primary">Take Quiz</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/images/quiz.jpeg" class="card-img-top" alt="Quiz 2">
                <div class="card-body">
                    <h5 class="card-title">Quiz Title 2</h5>
                    <p class="card-text">A brief description of the quiz goes here.</p>
                    <a href="/login" class="btn btn-primary">Take Quiz</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/images/quiz.jpeg" class="card-img-top" alt="Quiz 3">
                <div class="card-body">
                    <h5 class="card-title">Quiz Title 3</h5>
                    <p class="card-text">A brief description of the quiz goes here.</p>
                    <a href="/login" class="btn btn-primary">Take Quiz</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light py-5">
    <div class="container">
        <h2 class="text-center mb-4">What Our Users Say</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="testimonial">
                    <p>"QuizApp is the best! I've learned so much while having fun."</p>
                    <h5>John Doe</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial">
                    <p>"A fantastic way to test my knowledge and compete with friends."</p>
                    <h5>Jane Smith</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial">
                    <p>"The quizzes are well-designed and cover a wide range of topics."</p>
                    <h5>Emily Johnson</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5 text-center">
    <h2>Join QuizApp Today!</h2>
    <p>Sign up now to start taking quizzes and track your progress on the leaderboard.</p>
    <a href="/register" class="btn btn-primary btn-lg">Sign Up</a>
</div>
