<h1>Welcome to Quiz App !!</h1>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary choices home-btn1" type="button" onclick="redirectToCreate()" data-mdb-ripple-init>Create Quiz</button>
    <button class="btn btn-primary choices home-btn2" type="button" onclick="redirectToQuizzes()" data-mdb-ripple-init>Take Existing Quiz</button>
</div>